## $Id$
##
## (c) Copyright, Real-Time Innovations, Inc. 2001.  All rights reserved.
## No duplications, whole or partial, manual or electronic, may be made
## without prior written permission.  Any such copies, or
## revisions thereof, must display this notice unaltered.
## This code contains trade secrets of Real-Time Innovations, Inc.
##
## modification history:
## ---------------------
## 2.3.x,17jun16,djs PLATFORMS-827 Add non-IDL functionality..  Use architecture name in project
## 2.2,9jun14,vmg created
##========================================================================
#macro (addSourceFile $sourceFile)
                        <File
                                RelativePath="${sourceFile}"
                                >
                                <FileConfiguration
                                        Name="Debug|${platform}"
                                        >
                                        <Tool
                                                Name="VCCLCompilerTool"
                                                Optimization="0"
                                                AdditionalIncludeDirectories=""
                                                PreprocessorDefinitions=""
                                                BasicRuntimeChecks="3"
                                        />
                                </FileConfiguration>
                                <FileConfiguration
                                        Name="Release|${platform}"
                                        >
                                        <Tool
                                                Name="VCCLCompilerTool"
                                                Optimization="2"
                                                AdditionalIncludeDirectories=""
                                                PreprocessorDefinitions=""
                                        />
                                </FileConfiguration>
                        </File>
#end
<?xml version="1.0" encoding="Windows-1252"?>
<VisualStudioProject
	ProjectType="Visual C++"
	Version="${archMap.PROJECT_FORMAT_VERSION}"
	Name="#buildProjectName()"
	RootNamespace="#buildProjectName()"
	>
	<Platforms>
		<Platform
			Name="${platform}"
		/>
	</Platforms>
	<ToolFiles>
	</ToolFiles>
	<Configurations>
		<Configuration
			Name="Debug|${platform}"
			OutputDirectory="${outputDir}"
			IntermediateDirectory="${outputDir}"
			ConfigurationType="1"
			UseOfMFC="0"
			ATLMinimizesCRunTimeLibraryUsage="false"
			CharacterSet="2"
			>
			<Tool
				Name="VCPreBuildEventTool"
			/>
			<Tool
				Name="VCCustomBuildTool"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
				TypeLibraryName="${outputDir}\\#buildProjectName().tlb"
				HeaderFileName=""
			/>
			<Tool
				Name="VCCLCompilerTool"
				Optimization="0"
				AdditionalIncludeDirectories="#foreach($headersDirectory in ${headerDirectories})$headersDirectory,#end"
				PreprocessorDefinitions="WIN32;RTI_WIN32;_DEBUG;_CONSOLE;RTI_STATIC;#foreach($preprocessorDefinition in ${additionalDefines})$preprocessorDefinition;#end"
				BasicRuntimeChecks="3"
				RuntimeLibrary="3"
				UsePrecompiledHeader="0"
				PrecompiledHeaderFile=""
				AssemblerListingLocation="${outputDir}\"
				ObjectFile="${outputDir}\"
				ProgramDataBaseFileName="${outputDir}\"
				WarningLevel="3"
				SuppressStartupBanner="true"
				DebugInformationFormat="${archMap.DEBUG_INFORMATION_FORMAT}"
				CompileAs="0"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="_DEBUG"
				Culture="1033"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLinkerTool"
				AdditionalDependencies="#foreach($l in ${additionalRtiLibraries})${l}zd.lib #end #foreach($debugStaticLib in ${debugStaticLibs})${debugStaticLib}.lib #end #foreach($l in ${additionalLibraries}) ${l}.lib#end #[[]]#netapi32.lib advapi32.lib user32.lib WS2_32.lib "
				OutputFile="${outputDir}\\#buildProjectName().exe"
				LinkIncremental="0"
				SuppressStartupBanner="true"
				AdditionalLibraryDirectories="$(NDDSHOME)\lib\\${global.architectureName} #foreach($p in ${additionalLibraryPaths});${p}#end"
				IgnoreDefaultLibraryNames="libcmtd;libcmt"
				GenerateDebugInformation="true"
				ProgramDatabaseFile="${outputDir}\\#buildProjectName().pdb"
				SubSystem="1"
				TargetMachine="${archMap.TARGET_MACHINE}"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCManifestTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
			/>
			<Tool
				Name="VCFxCopTool"
			/>
			<Tool
				Name="VCAppVerifierTool"
			/>
			<Tool
				Name="VCWebDeploymentTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
		</Configuration>
		<Configuration
			Name="Debug DLL|${platform}"
			OutputDirectory="${outputDir}"
			IntermediateDirectory="${outputDir}"
			ConfigurationType="1"
			UseOfMFC="0"
			ATLMinimizesCRunTimeLibraryUsage="false"
			CharacterSet="2"
			>
			<Tool
				Name="VCPreBuildEventTool"
			/>
			<Tool
				Name="VCCustomBuildTool"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
				TypeLibraryName="${outputDir}\\#buildProjectName().tlb"
				HeaderFileName=""
			/>
			<Tool
				Name="VCCLCompilerTool"
				Optimization="0"
				AdditionalIncludeDirectories="#foreach($headersDirectory in ${headerDirectories})$headersDirectory,#end"
				PreprocessorDefinitions="NDDS_DLL_VARIABLE;WIN32_LEAN_AND_MEAN;WIN32;RTI_WIN32;_DEBUG;_CONSOLE;#foreach($preprocessorDefinition in ${additionalDefines})$preprocessorDefinition;#end"
				BasicRuntimeChecks="3"
				RuntimeLibrary="3"
				UsePrecompiledHeader="0"
				PrecompiledHeaderFile=""
				AssemblerListingLocation="${outputDir}\"
				ObjectFile="${outputDir}\"
				ProgramDataBaseFileName="${outputDir}\"
				WarningLevel="3"
				SuppressStartupBanner="true"
				DebugInformationFormat="${archMap.DEBUG_INFORMATION_FORMAT}"
				CompileAs="0"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="_DEBUG"
				Culture="1033"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLinkerTool"
				AdditionalDependencies="#foreach($l in ${additionalRtiLibraries})${l}d.lib #end #foreach($debugDynamicLib in ${debugDynamicLibs})${debugDynamicLib}.lib #end #foreach($l in ${additionalLibraries}) ${l}.lib#end #[[]]#netapi32.lib advapi32.lib user32.lib WS2_32.lib "
				OutputFile="${outputDir}\\#buildProjectName().exe"
				LinkIncremental="0"
				SuppressStartupBanner="true"
				AdditionalLibraryDirectories="$(NDDSHOME)\lib\\${global.architectureName} #foreach($p in ${additionalLibraryPaths});${p}#end"
				GenerateDebugInformation="true"
				ProgramDatabaseFile="${outputDir}\\#buildProjectName().pdb"
				SubSystem="1"
				TargetMachine="${archMap.TARGET_MACHINE}"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCManifestTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
			/>
			<Tool
				Name="VCFxCopTool"
			/>
			<Tool
				Name="VCAppVerifierTool"
			/>
			<Tool
				Name="VCWebDeploymentTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
		</Configuration>
		<Configuration
			Name="Release|${platform}"
			OutputDirectory="${outputDir}"
			IntermediateDirectory="${outputDir}"
			ConfigurationType="1"
			UseOfMFC="0"
			ATLMinimizesCRunTimeLibraryUsage="false"
			CharacterSet="2"
			>
			<Tool
				Name="VCPreBuildEventTool"
			/>
			<Tool
				Name="VCCustomBuildTool"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
				TypeLibraryName="${outputDir}\\#buildProjectName().tlb"
				HeaderFileName=""
			/>
			<Tool
				Name="VCCLCompilerTool"
				Optimization="2"
				InlineFunctionExpansion="1"
				AdditionalIncludeDirectories="#foreach($headersDirectory in ${headerDirectories})$headersDirectory,#end"
				PreprocessorDefinitions="WIN32;RTI_WIN32;NDEBUG;_CONSOLE;RTI_STATIC;#foreach($preprocessorDefinition in ${additionalDefines})$preprocessorDefinition;#end"
				StringPooling="true"
				RuntimeLibrary="2"
				EnableFunctionLevelLinking="true"
				UsePrecompiledHeader="0"
				PrecompiledHeaderFile=""
				AssemblerListingLocation="${outputDir}\"
				ObjectFile="${outputDir}\"
				ProgramDataBaseFileName="${outputDir}\"
				WarningLevel="3"
				SuppressStartupBanner="true"
				CompileAs="0"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="NDEBUG"
				Culture="1033"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLinkerTool"
				AdditionalDependencies="#foreach($l in ${additionalRtiLibraries})${l}z.lib #end #foreach($releaseStaticLib in ${releaseStaticLibs})${releaseStaticLib}.lib #end #foreach($l in ${additionalLibraries}) ${l}.lib#end #[[]]#netapi32.lib advapi32.lib user32.lib WS2_32.lib "
				OutputFile="${outputDir}\\#buildProjectName().exe"
				LinkIncremental="0"
				SuppressStartupBanner="true"
				AdditionalLibraryDirectories="$(NDDSHOME)\lib\\${global.architectureName} #foreach($p in ${additionalLibraryPaths});${p}#end"
				IgnoreDefaultLibraryNames="libcmtd;libcmt"
				ProgramDatabaseFile="${outputDir}\\#buildProjectName().pdb"
				SubSystem="1"
				TargetMachine="${archMap.TARGET_MACHINE}"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCManifestTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
			/>
			<Tool
				Name="VCFxCopTool"
			/>
			<Tool
				Name="VCAppVerifierTool"
			/>
			<Tool
				Name="VCWebDeploymentTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
		</Configuration>
		<Configuration
			Name="Release DLL|${platform}"
			OutputDirectory="${outputDir}"
			IntermediateDirectory="${outputDir}"
			ConfigurationType="1"
			UseOfMFC="0"
			ATLMinimizesCRunTimeLibraryUsage="false"
			CharacterSet="2"
			>
			<Tool
				Name="VCPreBuildEventTool"
			/>
			<Tool
				Name="VCCustomBuildTool"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
				TypeLibraryName="${outputDir}\\#buildProjectName().tlb"
				HeaderFileName=""
			/>
			<Tool
				Name="VCCLCompilerTool"
				Optimization="2"
				InlineFunctionExpansion="1"
				AdditionalIncludeDirectories="#foreach($headersDirectory in ${headerDirectories})$headersDirectory,#end"
				PreprocessorDefinitions="NDDS_DLL_VARIABLE;WIN32_LEAN_AND_MEAN;WIN32;RTI_WIN32;NDEBUG;_CONSOLE;#foreach($preprocessorDefinition in ${additionalDefines})$preprocessorDefinition;#end"
				StringPooling="true"
				RuntimeLibrary="2"
				EnableFunctionLevelLinking="true"
				UsePrecompiledHeader="0"
				PrecompiledHeaderFile=""
				AssemblerListingLocation="${outputDir}\"
				ObjectFile="${outputDir}\"
				ProgramDataBaseFileName="${outputDir}\"
				WarningLevel="3"
				SuppressStartupBanner="true"
				CompileAs="0"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="NDEBUG"
				Culture="1033"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLinkerTool"
				AdditionalDependencies="#foreach($l in ${additionalRtiLibraries})${l}.lib #end #foreach($releaseDynamicLib in ${releaseDynamicLibs})${releaseDynamicLib}.lib #end#foreach($l in ${additionalLibraries}) ${l}.lib#end #[[]]#netapi32.lib advapi32.lib user32.lib WS2_32.lib "
				OutputFile="${outputDir}\\#buildProjectName().exe"
				LinkIncremental="0"
				SuppressStartupBanner="true"
				AdditionalLibraryDirectories="$(NDDSHOME)\lib\\${global.architectureName}#foreach($p in ${additionalLibraryPaths});${p}#end"
				ProgramDatabaseFile="${outputDir}\\#buildProjectName().pdb"
				SubSystem="1"
				TargetMachine="${archMap.TARGET_MACHINE}"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCManifestTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
			/>
			<Tool
				Name="VCFxCopTool"
			/>
			<Tool
				Name="VCAppVerifierTool"
			/>
			<Tool
				Name="VCWebDeploymentTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
		</Configuration>
	</Configurations>
	<References>
	</References>
	<Files>
		<Filter
			Name="Source Files"
			Filter="cpp;c;cxx;rc;def;r;odl;idl;hpj;bat"
			>
#foreach($sourceFile in ${sourceFiles})
#addSourceFile("${sourceDir}${sourceFile}")
#end
#if(${global.execNames})
#addSourceFile("${sourceDir}${global.execNames}${sourceFileExtension}")
#end
#foreach($sourceFile in ${additionalSourceFiles})
#addSourceFile("${sourceDir}${sourceFile}")
#end
		</Filter>
		<Filter
			Name="Header Files"
			Filter="h;hpp;hxx;hm;inl"
			>
#foreach($headerFile in ${headerFiles})
			<File
				RelativePath="${sourceDir}${headerFile}"
				>
			</File>
#end
#foreach($headerFile in ${additionalHeaderFiles})
			<File
				RelativePath="${sourceDir}${headerFile}"
				>
			</File>
#end
		</Filter>
		<Filter
			Name="Resource Files"
			Filter="ico;cur;bmp;dlg;rc2;rct;bin;rgs;gif;jpg;jpeg;jpe"
			>
			<File
				RelativePath="USER_QOS_PROFILES.xml"
				>
			</File>
		</Filter>
	</Files>
	<Globals>
	</Globals>
</VisualStudioProject>
